@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&family=Rokkitt:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box
}

body{
    font-family: Roboto-flex, sans-serif;
    font-weight: 400;
    color: #6b8571;
    background-color: #F2F8D2;
}

h1{
    font-family: Rokkitt, sans-serif;
    color: #6B7285;
    text-transform: uppercase;
    letter-spacing: 6px;
}

h2{
    font-family: Rokkitt, sans-serif;
    color: #6B7285;
    text-transform: uppercase;
    letter-spacing: 6px;
}

#logo{
    float: left;
    margin-left: 55px;
    margin-top: 10px;
    font-size: 80px;
}

#menu{
    font-size: 25px;
    letter-spacing: 6px;
}

#menu li{
    float:right;
    margin-right: 30px;
    list-style-type: none;
    text-align: center;
    padding: 14px 16px;
    
}

#menu, #logo{
    line-height: 60px;
}

#menu a{
    text-decoration: none;
    color: #6B7285;
}

#menu a:hover{
    border-bottom: #6B7285 4px solid;
}

#hero-image{
    height: 600px;
    width: 100%;
    background: url(../images/heo-image.jpeg);
}

#hero-text{
    font-size: 40px;
    font-family: Rokkit, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding-left: 10px;
    padding-top: 50px;
    top: 250px;
    left: 20px;
    position: absolute;
}

#weekly-recipe{
    height: 600px;
    font-size: 40px;
    letter-spacing: 6px;
    overflow: hidden;
    background-color: #F2F8D2;
}

#weekly-heading{
    float: left;
    padding-top: 50px;
}

.row {
    padding-top: 10px;
    display: flex;
    object-fit: cover;
    float: left;
}
  
.column {
    flex: 25%;
    padding: 5px;
    height: 200px;
  }

#events{
    position: relative; top:-160px;
    overflow: hidden;
}

#events-heading{
    font-size: 50px;
    text-align: center;
    letter-spacing: 6px;

}

#events div{
    color: inherit;
    width: 20%;
    height: 150px;
    float: left;
    text-align:center;
    box-sizing: border-box;
}

footer{
position:relative; 
   left:0px;
   bottom:0px;
   height: 30px;
   width:100%;
}

#media{
    text-align: center;
}

#media > li{
    display: inline-block;
}

#media li a{
    font-size: 40px;
    color: #6B7285;
    margin: 5%;
    letter-spacing: 20px;
    list-style-type: none;
}

.form{
    height: 300px;
    width: 100%;
    text-align: center;
}


.sign-heading{
    text-transform: uppercase;
    font-size: 60px;
}

.sign-sub-heading{
    text-transform: uppercase;
    font-size: 30px;
}

.input-box{
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 10px;
}

#submit{
    display: block;
  margin-left: 675px;
  border: none;
  background-color: #6B7285;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
}

#submit:hover{
    background-color: #6b8571;
}


@media only screen and (max-width: 1200px){
    #logo{
        height: 100%;
        width: 50%;
        margin-left: 55px;
        margin-top: 20px;
    }

    #menu{
        clear: left;
        float: left;
        margin-left: 10px;
        margin-bottom: 20px;
    }


    #weekly-recipe{
        width:100%;
        max-height:20%; 
        overflow:hidden;
        text-align:justify;
        word-break: break-all;
    }

    #events > div{
        width:100%;
        clear: both;
        height: -150px;
        padding: -100px;
    }

}

@media screen and (max-width: 950px){

    #menu{
        clear: left;
        float: left;
        margin-left: 10px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:800px){
    #menu{
        width:100%;
    }
}


.images {
    flex: 55%;
    max-width: 100%;
    padding: 0 4px;
    columns: 4;
}
  
.images img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}