@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&family=Rokkitt:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Roboto-flex, sans-serif;
    font-weight: 400;
    color: #6b8571;
}

h1{
    font-family: Rokkitt, sans-serif;
    color: #6B7285;
    text-transform: uppercase;
    letter-spacing: 6px;
}

h2{
    font-family: Rokkitt, sans-serif;
    color: #6B7285;
    text-transform: uppercase;
    letter-spacing: 6px;
}

#logo{
    float: left;
    margin-left: 55px;
    margin-top: 20px;
    font-size: 80px;
}

#menu{
    font-size: 25px;
    letter-spacing: 6px;
}

#menu li{
    float:right;
    margin-right: 30px;
    list-style-type: none;
    text-align: center;
    padding: 14px 16px;
    
}

#menu, #logo{
    line-height: 60px;
}

#menu a{
    text-decoration: none;
    color: #6B7285;
}

#menu a:hover{
    border-bottom: #6B7285 4px solid;
}

#hero-image{
    height: 600px;
    width: 100%;
    background: url(../images/heo-image.jpeg);
}

#hero-text{
    font-size: 30px;
    font-family: Rokkit, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding-left: 10px;
    padding-top: 20px;
    top: 250px;
    left: 20px;
    position: absolute;
}